.art-image {
    background-color: cornflowerblue;
    height: 10px;
    width: 10px;
    margin: 5px;
}

.art-selector {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.bg-image {
    background-color: green;
    height: 10px;
    width: 10px;
    margin: 5px;
}

.bg-selector {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}

.img-preview {
    background-color: chartreuse;
}