/* .app {
    display: flex;
    flex-direction: column;
} */

.menu {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.art-image {
    background-color: cornflowerblue;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.art-selector {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bg-image {
    background-color: green;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.bg-selector {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-preview {
    border: 1px solid black;
    height: 500px;
    margin: 1%;
}

.image-window {
    display: flex;
    flex-direction: row;
}

.preview {
    width: 66%;
}